In [8]:
import pandas as pd

Base_Power = pd.read_csv('T1.csv')
Base_Power

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286
...,...,...,...,...,...
50525,31 12 2018 23:10,2963.980957,11.404030,3397.190793,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,1173.055771,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,1788.284755,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,2418.382503,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,2779.184096,82.274620

In [9]:
Base_Power.describe()

,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
count,50530.000000,50530.000000,50530.000000,50530.000000
mean,1307.684332,7.557952,1492.175463,123.687559
std,1312.459242,4.227166,1368.018238,93.443736
min,-2.471405,0.000000,0.000000,0.000000
25%,50.677890,4.201395,161.328167,49.315437
50%,825.838074,7.104594,1063.776283,73.712978
75%,2482.507568,10.300020,2964.972462,201.696720
max,3618.732910,25.206011,3600.000000,359.997589

In [43]:
Base_Power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date/Time                      50530 non-null  object
 1   LV ActivePower (kW)            50530 non-null  float64
 2   Wind Speed (m/s)               50530 non-null  float64
 3   Theoretical_Power_Curve (KWh)  50530 non-null  float64
 4   Wind Direction (°)             50530 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.9+ MB

In [44]:
Base_Power['Date/Time'] = pd.to_datetime(Base_Power['Date/Time'])
Base_Power

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286
...,...,...,...,...,...
50525,2018-12-31 23:10:00,2963.980957,11.404030,3397.190793,80.502724
50526,2018-12-31 23:20:00,1684.353027,7.332648,1173.055771,84.062599
50527,2018-12-31 23:30:00,2201.106934,8.435358,1788.284755,84.742500
50528,2018-12-31 23:40:00,2515.694092,9.421366,2418.382503,84.297913
50529,2018-12-31 23:50:00,2820.466064,9.979332,2779.184096,82.274620

In [48]:
Base_Power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date/Time                      50530 non-null  datetime64[ns]
 1   LV ActivePower (kW)            50530 non-null  float64
 2   Wind Speed (m/s)               50530 non-null  float64
 3   Theoretical_Power_Curve (KWh)  50530 non-null  float64
 4   Wind Direction (°)             50530 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 1.9 MB

In [13]:
Base_Power.columns

Index(['Date/Time', 'LV ActivePower (kW)', 'Wind Speed (m/s)',
       'Theoretical_Power_Curve (KWh)', 'Wind Direction (°)'],
      dtype='object')

In [14]:
Base_Power.isnull().sum()

Date/Time                        0
LV ActivePower (kW)              0
Wind Speed (m/s)                 0
Theoretical_Power_Curve (KWh)    0
Wind Direction (°)               0
dtype: int64

In [16]:
import numpy as np

print(np.unique(Base_Power['LV ActivePower (kW)'], return_counts=True))
print(np.unique(Base_Power['Wind Speed (m/s)'], return_counts=True))

(array([-2.47140503e+00, -1.07713103e+00, -9.58999574e-01, ...,
        3.60504712e+03,  3.60575806e+03,  3.61873291e+03]), array([1, 1, 1, ..., 1, 1, 1], dtype=int64))
(array([ 0.        ,  0.2051785 ,  0.2255017 , ..., 24.14598083,
       24.58703041, 25.20601082]), array([10,  1,  1, ...,  1,  1,  1], dtype=int64))

In [51]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(1)
scatter1 = plt.scatter(Base_Power['LV ActivePower (kW)'], Base_Power['Wind Speed (m/s)'], alpha=0.6, c = Base_Power['LV ActivePower (kW)'])
plt.show()

plt.figure(2)
scatter2 = plt.scatter(Base_Power['Theoretical_Power_Curve (KWh)'], Base_Power['Wind Speed (m/s)'], alpha=0.5, c = Base_Power['Theoretical_Power_Curve (KWh)'])
plt.show()

plt.figure(3)
sns.scatterplot(data=Base_Power, x = Base_Power['Wind Speed (m/s)'], y = Base_Power['LV ActivePower (kW)'])

plt.figure(4)
sns.scatterplot(data=Base_Power, x = Base_Power=['Wind Speed (m/s)'], y = Base_Power['Theoretical_Power_Curve (KWh)'])

SyntaxError: invalid syntax (3918417790.py, line 16)